
.bt-adm-create{
    background-color: $colorOrange;
    border: none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 2rem;
}

.ico-plus{
    filter: invert(1);
}

.ico-user{
    width: 1.7rem;
    filter: invert(1);
}

.bt-adm{
    background-color: $colorOrange;
    border: none;
    border-radius: 5px;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.3rem;
}

.ct-adm-buttons{
    position: absolute;
    top: -15px;
    right: -15px;
}

.ico-adm{
    width: 1.7rem;
    height: auto;
    filter: invert(1);
}