#app{
    width: 100vw,;
}

@mixin ctImg {
    width: 40vw;
    height: 59vw;
    @media screen and (min-width: $breakpointTable) {
        width: 14vw;
        height: 20vw;
    }
    @media screen and (min-width: $breakpointLaptop){
        max-width: 12.25rem;
        max-height: 18rem;
    }
}

@mixin ctInfo {
    width: 40vw;
    height: 12vw;
    @media screen and (min-width: $breakpointTable) {
        width: 14vw;
        height: 4.5vw;
    }
    @media screen and (min-width: $breakpointLaptop){
        max-width: 12.25rem;
    }
    @media screen and (min-width: $breakpointExtraLargeDesktop){
        height: 3.2vw;
    }

}

@mixin ctText {
    width: 28vw;
    height: 10vw;
    @media screen and (min-width: $breakpointTable) {
        width: 9vw;
        height: 3vw;
    }
    @media screen and (min-width: $breakpointLaptop) {
        max-width: 10vw;
        max-height: 4vw;
    }
}

@mixin txtPrice {
    width: 25vw;
    height: 5vw;
    @media screen and (min-width: $breakpointTable) {
        width: 9vw;
        height: 2vw;
    }
    @media screen and (min-width: $breakpointLaptop) {
        font-size: 1rem;
    }
}

@mixin txtTitle {
    width: 25vw;
    height: 5vw;
    font-size: 0.7rem;
    @media screen and (min-width: $breakpointTable) {
        width: 7vw;
        height: 2vw;
    }
    @media screen and (min-width: $breakpointLaptop) {
        max-width: 8.5vw;
        max-font-size: 1rem;
    }
}

@mixin txtPoints {
    font-size: 0.7rem;
    height: 5vw;
    @media screen and (min-width: $breakpointTable) {
        height: 2vw;
    }
    @media screen and (min-width: $breakpointLaptop) {
        font-size: 1rem;
        max-height: 2vw;
    }
}

.ct-product {
    width: auto;
    height: auto;
    padding: 0px;
    @media screen and (min-width: $breakpointLaptop){
        max-width: 11.8rem;
    }
}

.ct-img {
    @include ctImg;
    border: 3px solid $colorOrange;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    @media screen and (min-width: $breakpointLaptop){
        max-width: 12.25rem;
    }
}

.ct-info {
    @include ctInfo;
    border: 3px solid $colorOrange;
    border-radius: 0px 0px 10px 10px;
    border-top: none;
}

.ct-txt {
    @include ctText;
    @media screen and (min-width: $breakpointLaptop){
        max-width: 8.1rem;
    }
}

.txtPrice {
    @include txtPrice;
    font-size: 0.7rem;
    margin: 0px;
    @media screen and (min-width: $breakpointDesktop){
        max-width: 8.1rem;
    }
}

.txtInfoTitle {
    @include txtTitle;
    text-overflow: ellipsis;
    overflow: hidden;
    @media screen and (min-width: $breakpointDesktop){
        max-width: 136px;
        height: 20px;
    }
}

.txtTitle {
    @include txtTitle;
    @media screen and (min-width: $breakpointDesktop){
        max-width: 136px;
    }
}

.txtPoints {
    @include txtPoints;
    @media screen and (min-width: $breakpointDesktop){
        display: none;
    }
}

.imgCard {
    width: 100%;
    height: auto;
    object-fit: cover;
    @media screen and (min-width: $breakpointLaptop){
        max-width: 12.25rem;
    }
}

.separator {
    width: 2px;
    height: 2rem;
    margin: 3%;
    background-color: $colorOrange;
    color: transparent;
}

.icoCard {
    width: 70%;
    filter: invert(55%) sepia(22%) saturate(4864%) hue-rotate(1deg) brightness(102%) contrast(109%);
}

.icoCardNoAvailable {
    width: 20%;
}

.body-xxl{
    @media screen and (min-width: $breakpointDesktop){
        margin-left: 5%;
        margin-right: 5%;
    }
    @media screen and (min-width: $breakpointLargeDesktop){
        margin-left: 10%;
        margin-right: 10%;
    }
    @media screen and (min-width: $breakpointExtraLargeDesktop){
        margin-left: 14%;
        margin-right: 14%;
    }
}
