.card-cart{
    width: 40vw !important;
}

.imgCart{
    width: 105px;
    height: auto;
    border: 3px solid $colorOrange;
    border-radius: 10px 10px 10px 10px;
}

.title-cart{
    height: 33px;
}

.line{
    background-color: $colorLight;
}

.div-authors{
    height: 50px;
}

.authors{
    color: $colorGrey;
}

.form-select{
    width: 60px; 
    height: 30px;
}

.cartPrice{
    font-size: 1.3rem;
    color: $colorOrange;
}

.btn-trash{
    border: none;
    width: 55px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-trash{
    width: 55%;
}

.summary{
    width: 80vw;
    border: 3px solid $colorOrange  !important;
    @media screen and (min-width: $breakpointTable){
        width: 50vw;
    }
    @media screen and (min-width: $breakpointLaptop){
        width: 39vw;
    }
}

.line-sum{
    color: $colorGrey;
    opacity: 0.25;
}

.btn-continue{
    background-color: $colorOrange !important;
}

@media screen and (max-width: $breakpointPhone){
    .card-cart{
        max-width: 350px;
    }
    .imgCart{
        width: 80px;
    }
}

.btn-deleteAllProducts{
    border: none;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorOrange;
}

.ct-counter{
    width: 30px;
    height: 30px;
    border: 2px solid $colorOrange;
    border-radius: 4px;
}

.ct-payment{
    width: 100vw;
    @media screen and (min-width: $breakpointTable){
        width: 50vw;
    }
    @media screen and (min-width: $breakpointDesktop){
        width: 50vw;
    }
}
