.imgCart{
    width: 100px;
    height: auto;
    border: 3px solid $colorOrange;
    border-radius: 10px 10px 10px 10px;
}

.authors{
    color: $colorGrey;
}

.cartPrice{
    font-size: 1.3rem;
    color: $colorOrange;
}

@media screen and (max-width: $breakpointTable){
    .imgCart{
        width: 80px;
    }
}