.container{
justify-content: space-between;
width: 100%;

}

hr{
    color:#FF8300;
    height: 1px !important;
    margin-left:2%;
    margin-right: 2%;
    margin-top: 0 !important;
    margin-bottom: 1% !important;
}

.left-link{
    width: 40%;
    margin-right: 10%;
}

.icons{
    margin-left: -7%;
    width:65%;
    height: auto;
}

.right-link{
    margin-left: 10%;
    width: 300px;
}

.icon_location{
    align-self: center;
    width: 24%;
    height: auto;
}

.icon_follow{
    width: 20%;

}

@media (min-width: 960px) and (max-width: 1400px){
    .icon_location{
        width: 30%;
    }
}

@media (min-width: 567px) and (max-width: 960px){
.icon_location{
    width: 20%;
}
.icons{
    margin-left: 5%;
}
}

@media (min-width: 120px) and (max-width: 566px) {
    .container{
        margin-left: 40%;
        justify-content: space-between;
    }

    .icons{

        justify-content: space-between;
        width:25px;
        height: auto;


    }
    .icon_follow{
        width: 40%;
    }

    .icon_location{

        width:20%;
    }
    .text_location{
        display: none;
    }

    .follow{
        display: none;
        margin-left: 10%;
    }
}


