.input-group-text{
    background-color: $colorOrangeLight !important;
    color: black !important;
    border: 1px solid $colorOrange !important;
}

textarea{
    border: 1px solid $colorOrange !important;
}

.ct-form{
    margin: 10%;
    width: 80vw;
}

.input-group-text-create{
    background-color: red !important;
    color: white !important;
}

.input-group-text-cancel{
    background-color: green !important;
    color: white !important;
}

.createbtn{
    background-color: $colorOrange !important;
    color: white !important;
    width: 150px;
}
.btn-log{
    background-color: $colorOrange !important;
    margin: 20px;
}

.bt-create{
    background-color: $colorOrange !important;
    color: black !important;
}

.bt-create:hover{
    background-color: #b35c00 !important;
}

.bt-cancel:hover{
    background-color: #40403f !important;
}

.bt-cancel{
    background-color: $colorGrey !important;
    color: white !important;
}

.card-header{
    width: 100%;
    background-color:$colorOrange !important ;
    opacity: 0.8;
    color: $colorOrange !important;
    margin: 0;
    font-size: 50px;
}

.card-body-form{
    background-color:white;
    justify-content: center;
    margin-left: 0;
}

label{
    color:white !important;
    font-family: 'woodstamp';
}

.side{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    margin-top: 5%;
}

input[type=text],[type=email],[type=password]{
    border: 1px solid $colorOrange !important;
}

.input-select{
    border: 1px solid $colorOrange !important;
}

.card{
    margin-bottom: 10%;
    margin-top: 10%;
}

a{
    text-decoration: none;
    color: $colorOrange !important;
}

.btn-clic{

margin-left: 6%;

}
.form-check-label{
    color: black !important;
    font-family: inherit !important;
}

.text-login{
    margin-left: 15px;
    margin-top: 10px;
}

    @media screen and (min-width: $breakpointPhone) {
        .btn-clic{
            justify-content: start;
            margin-left: 11%;
            flex-wrap: wrap;
        }

    }

    @media screen and (min-width: $breakpointTable) {
.btn-clic{
    margin-left: 20%;
}

    }
    @media screen and (min-width: $breakpointLaptop){
        .btn-clic{
            margin-left: 13%;
    }
}

.ct-create{
    width: 100vw;
    @media screen and (min-width: $breakpointLaptop){
        width: 55vw !important;
    }
}
