.input-group-text{
    background-color: $colorOrange !important;
    color: white !important;
}

.ct-form{
    margin: 10%;
    width: 80vw;

}

.input-group-text-create{
    background-color: red !important;
    color: white !important;
}

.input-group-text-cancel{
    background-color: green !important;
    color: white !important;
}

.createbtn{
    background-color: $colorOrange !important;
    color: white !important;
    width: 150px;
}