.logo {
    width: 400px;
}

.imgLogo{
    width: 400px;
}

.logoImg{
    display: flex;
    justify-content: center;
    margin-left: 150px;
}

.imgcarrito {
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.btn-carrito {
    width: 85px;
    height: 35px;
    margin: 4px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #FCE8C2;
}

.btn-products{
    width: 100px;
    height: 35px;
    margin: 4px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #FCE8C2;
}

.loginNav {
    display: flex;
    align-self: flex-end;
    color: $colorOrange;
}

.gridLogin{
    width: 200px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: $colorOrange !important;
}

@media screen and (min-width: $breakpointTable) {

}
.ct-search {
    margin: 0px !important;
}

.icoCardHeader {
    width: 3%;
    filter: invert(55%) sepia(22%) saturate(4864%) hue-rotate(1deg) brightness(102%) contrast(109%);
}



