.logo {
    display: block;
    width: 400px;
    display: block;
}

.letrasSinFondo{
    display: none;
    width: 100px;
    height: 90px;
}

.logoImg{
    display: flex;
    justify-content: center;
    margin-left: 60px;
}

.imgcarrito {
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.btn-lupa {
    height: 35px;
    margin: 4px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #FCE8C2;
}

.btn-products{
    width: 70px;
    height: 35px;
    margin: 2px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #FCE8C2;
}

.loginNav {
    display: flex;
    align-self: flex-end;
    
}

.logingrid{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: $colorOrange;
    font-weight: bold;
}

.nav-link.active, .show > .nav-link .imgcarrito{
    background-color: transparent !important;
    border: none !important;
    filter: invert(55%) sepia(22%) saturate(4864%) hue-rotate(1deg) brightness(102%) contrast(109%);
}

.ct-search {
    margin: 0px !important;
}

.icoCardHeader {
    width: 27px;
    height: 27px;
    cursor: pointer;
    filter: invert(55%) sepia(22%) saturate(4864%) hue-rotate(1deg) brightness(102%) contrast(109%);
}
.categories-nav{
    border-top: 3px solid #FCE8C2;
    border-bottom: 3px solid #FCE8C2;
}

.ct-cat{
    font-size: 1.5rem;
    margin-left: 49px;
    filter: invert(55%) sepia(22%) saturate(4864%) hue-rotate(1deg) brightness(102%) contrast(109%) !important;
    padding: 0px !important;
    font-family: 'Woodstamp';
    letter-spacing: 0.1rem;
}


@media screen and (max-width: $breakpointTable){
    .navInicio{
        flex-wrap: nowrap;
        justify-content: center;
    }
    .letrasSinFondo{
        display: block;
        margin-bottom: 15px;
    }

    .logo{
        display: none;
    }
    .inputSearch{
        width: 6.25rem !important;
        margin-left: 5px;
    }
    .btn-lupa {
        width: 70px;
        margin: 0;
    }
    .icoCardHeader{
        margin-left: 25px;
    }
    .li-carrito{
        margin-left: 36px;
    }
    .ul-search{
        flex-wrap: nowrap;
    }
    .navbar-toggler{
        font-family: $fontPrincipal;
        color: $colorOrange !important;
        border-color: rgba(0, 0, 0, 0) !important;
        font-size: 1.5rem !important;
    }
 
    



}
