.pagination li {
  margin-left: .25rem;
  margin-right: .25rem;
}

.pagination li .page-link {
  border-radius: .25rem;
  border: none;
  min-width: 2.25rem;
  text-align: center;
  color: $colorOrange;
}

.pagination li.active .page-link,
.pagination li .page-link:hover {
  background-color: $colorOrange;
  color: white !important;
  font-weight: bold;
}

