@mixin imgShow {
    width: 70vw;
    border: 3px solid #FF8300;
    border-radius: 10px;
    @media screen and (min-width: $breakpointTable) {
        width: 30vw;
        border: 5px solid #FF8300;
        border-radius: 15px;
    }
    @media screen and (min-width: $breakpointDesktop){
        max-width: 15vw;
    }
}

.ct-infoShow {
    width: 80%;
}

.imgShow {
    @include imgShow;
}

.txtTitleShow {
    color: $colorOrange;
    font-size: 1.5rem;
}

.txtPriceShow {
    color: $colorOrange;
    font-size: 1.5rem;
}

.extraShow {
    padding: 0px !important;
    margin: 0px !important;
}

.icoCardShow {
    width: 4%;
    filter: invert(55%) sepia(22%) saturate(4864%) hue-rotate(1deg) brightness(102%) contrast(109%);
}