@mixin imgShow {
    width: 70vw;
    border: 3px solid $colorOrange;
    border-radius: 10px;
    @media screen and (min-width: $breakpointTable) {
        width: 30vw;
        border: 5px solid $colorOrange;
        border-radius: 15px;
    }
    @media screen and (min-width: $breakpointDesktop){
        max-width: 15vw;
    }
}

@mixin icoCardShow {
    width: 10%;
    @media screen and (min-width: $breakpointLaptop){
        width: 4%;
    }
}

.ct-infoShow {
    width: 80%;
}

.imgShow {
    @include imgShow;
}

.txtTitleShow {
    color: $colorOrange;
    font-size: 1.5rem;
}

.txtPriceShow {
    color: $colorOrange;
    font-size: 1.5rem;
}

.extraShow {
    padding: 0px !important;
    margin: 0px !important;
}

.icoCardShow {
    @include icoCardShow;
    filter: $filterSVGOrange;
}

.icoCardShowAvailable {
    @include icoCardShow;
}

.icoCartNoAvailable {
    @include icoCardShow;
}