.table-warning, .table-warning > th, .table-warning > td{
    background-color: black !important;
    color: white !important;
}

.tb-usersAdmin{
    @media screen and (min-width: $breakpointPhone){
        font-size: 8px;
    }
    @media screen and (min-width: $breakpointMiddle){
        font-size: 15px;
    }
}

.icoAdmin{
    width: 17px;
    filter: $filterSVGOrange;
}

.btn-txt{
    color: $colorOrange;
}
